.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1a202c; /* Dark Blue */
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset 0 0 0 4px #4a5568; /* Inner border */
  font-family: 'Arvo', serif;
  font-weight: 300;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.close-button {
  background-color: #374151;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: #4b5563;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.red-text {
  color: #f87171;
}
