@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #030712;
  font-family: 'Space Mono', 'JetBrains Mono', monospace, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.prose {
  font-size: 1.05rem !important; /* text-lg */
}

.prose img {
  max-width: 75%; /* Full width on mobile */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #4b5563; /* subtle gray border */
  border-radius: 0.25rem; /* rounded corners */
}

@media (min-width: 700px) { /* md breakpoint */
  .prose img {
    max-width: 25%; /* 25% width on larger screens */
  }
}

/* Styling for inline code blocks */
.prose code:not(pre > code) {
  background-color: #242424; /* gray-600 */ /* Changed background color */
  color: #f87171; /* primary-400 - Reverted color */
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400; /* Lighter font weight */
}