@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617;
  font-family: 'Space Mono', 'JetBrains Mono', monospace, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.prose {
  font-size: 1.05rem !important; /* text-lg */
}

.prose img {
  max-width: 75%; /* Full width on mobile */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #4b5563; /* subtle gray border */
  border-radius: 0.25rem; /* rounded corners */
}

@media (min-width: 768px) {
  /* md breakpoint */
  .prose img {
    /*max-width: 55%;*/
    max-height: 600px;
    /*max-width: 100%; !* 25% width on larger screens *!*/
  }
}

/* Styling for inline code blocks */
.prose code.undefined:not(pre > code) {
  background-color: #242424;
}

.prose code:not(pre > code) {
  color: #f87171; /* primary-400 - Reverted color */
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400; /* Lighter font weight */
}

.prose h1 code,
.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code,
.prose h6 code {
  padding: 0.1em 0.2em !important;
  font-size: 0.9em !important;
}

:root {
  --color-dev-badge: #44403c; /* stone-700 */
  --color-takes-badge: #065f46; /* emerald-800 */
  --color-series-badge: #e11d48; /* rose-600 */
  --color-dnd-badge: #583fa3; /* violet-400 */
  --fzcdx-background: #ffffff;
  --fzcdx-text-primary: #2d2d2d;
  --fzcdx-text-secondary: #4b5563;
  --fzcdx-primary: #f87171;
  --fzcdx-secondary: #fb923c;
  --fzcdx-accent: #34d399;
  --fzcdx-spanner: #e89b5d;
}

@media (max-width: 768px) {
  body {
    font-family: serif !important;
  }
}
