@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617;
  font-family: 'Space Mono', 'JetBrains Mono', monospace, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.prose {
  font-size: 1.05rem !important; /* text-lg */
}

.prose img {
  max-width: 75%; /* Full width on mobile */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #4b5563; /* subtle gray border */
  border-radius: 0.25rem; /* rounded corners */
}

@media (min-width: 768px) {
  /* md breakpoint */
  .prose img {
    /*max-width: 55%;*/
    max-height: 600px;
    /*max-width: 100%; !* 25% width on larger screens *!*/
  }
}

/* Styling for inline code blocks */
.prose code.undefined:not(pre > code) {
  background-color: #242424;
}

.prose code:not(pre > code) {
  color: #f87171; /* primary-400 - Reverted color */
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400; /* Lighter font weight */
}

.prose h1 code,
.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code,
.prose h6 code {
  padding: 0.1em 0.2em !important;
  font-size: 0.9em !important;
}

:root {
  /*dev card*/
  --color-dev-badge: #0b3e8f;
  --bg-dev-card: rgba(0, 41, 107, 0.3);
  --bg-dev-card-hover: rgba(0, 41, 107, 0.55);
  --title-hover-dev: #81aff4;


  /*rant card*/
  --color-takes-badge: #065f46; /* emerald-800 */
  --bg-takes-card: rgba(6, 95, 70, 0.175);
  --bg-takes-card-hover: rgba(16, 185, 129, 0.275);
  --title-hover-takes: #3CB371;

  /*series card*/
  --color-series-badge: #e11d48; /* rose-600 */
  --bg-series-card: rgba(225, 29, 72, 0.1);
  --bg-series-card-hover: rgba(225, 29, 72, 0.2);
  --title-hover-series: #ff4747;

  /*dnd card*/
  --color-dnd-badge: #AA4465;
  --bg-dnd-card: rgba(170, 68, 101, 0.1);
  --bg-dnd-card-hover: rgba(170, 68, 101, 0.2);
  --title-hover-dnd: #D48090;

  /*fezccode colors*/
  --fzcdx-background: #ffffff;
  --fzcdx-text-primary: #2d2d2d;
  --fzcdx-text-secondary: #4b5563;
  --fzcdx-primary: #f87171;
  --fzcdx-secondary: #fb923c;
  --fzcdx-accent: #34d399;
  --fzcdx-spanner: #e89b5d;

}

.codex-color {
  color: #ff8fab !important; /* Placeholder color for 'codex' */
}

.separator-color {
  color: #f4acb7 !important; /* Placeholder color for '::' */
}

.logs-color {
  color: #bc4749 !important; /* Placeholder color for 'logs' */
}

.apps-color {
  color: #bc4749 !important; /* Placeholder color for 'logs' */
  /*color: #f5dd90 !important; !* Placeholder color for 'apps' *!*/
}

.single-app-color {
  color: #e88211 !important; /* Placeholder color for 'single-app' */
  /*color: #A07B90 !important; !* Placeholder color for 'single-app' *!*/
}

@media (max-width: 768px) {
  body {
    font-family: serif !important;
  }
}

/* Hide arrows from number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@keyframes moveAndFade {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(calc(100% + 50px)); /* Move beyond the bottom edge */
    opacity: 0;
  }
}

@keyframes grid-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.animated-grid-bg {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
  animation: grid-animation 30s linear infinite;
}
